* {
    color: green;
    text-align: center;
    background-color: black;

}

ol,
ul{
    font-size: 20px;
    border: 10px solid green;
    padding: 10px;
    width: 200px;
    margin-left:800px;
    flex-direction:column;
    align-items:center;
}

p {
    font-family: cursive;
    font-size: 25px;
}

div {
    color: green;
    background-color: white;
    border:20px solid green;
    padding: 10px;
    width: 1800px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    font-family: cursive;
}